version: '3.1'

services:  
  nodejs:
    build:
      context: .
      dockerfile: Dockerfile
    image: nodejs
    container_name: nodejs
    restart: unless-stopped
    env_file: .env
    ports:
      - "5555:5555"
    environment:
      DB_PW: ${EXP_PW}
      VIRTUAL_HOST: www.covid.kevintheriault.tech
      LETSENCRPYT_HOST: www.covid.kevintheriault.tech
      LETSENCRYPT_EMAIL: kevin.theriault@live.com

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${EXP_PW}
    expose:
     - 27017
    volumes: 
     - mongoAPI:/data/db

volumes:
  mongoAPI:
